@model VidlyNet7.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "_Layout";
}
<h1>@Model.Name</h1>

<ul>
    <li>Genre: @Model.Genre</li>
    <li>Release Date: @Model.ReleaseDate</li>
    <li>Date Added: @Model.DateAdded</li>
    <li>Number in Stock: @Model.Stock</li>
    
    
</ul>



    